.main-course-cont {
    background: linear-gradient(45deg, #5f2903, #ff9951);
    /* background-color: rgb(97, 155, 97); */

}
.course-cont{
    
    display: grid;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    gap: 1%;
    padding: 1.5%;
    padding-top: 7%;
    grid-template-columns: repeat(4, 1fr);
    /* background: linear-gradient(45deg, #5f2903, #ff9951); */
    /* background-color: brown; */
    
}
/* 
    gap: 20px;
    padding: 20px;
    padding-top: 100px;
    grid-template-columns: repeat(4, 1fr); */