img {
    width: 100%;
    margin-top: -2.08087%;
    height: auto;
    /* opacity: 0.8; */
}

.teext {
    color: black;
    z-index: 2;
    position: absolute;
    top: 13%;
    left: 0%;
    /* font-size: 50px; */
    font-size: 300%;
    text-transform: capitalize;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */

} 
.ok {
    /* padding-top: 15px; */
    padding-top: 1%;
    top: 21%;
    font-size: 330%;
    /* opacity: 0.318; */
    opacity: 0.4;
    color:rgb(255, 255, 255);

}
/* rgb(45, 19, 19) */